TAGS
deps
rel/sqor_msg_publisher
priv/*.so
logs
ebin
log
lib
lib2
.ok
*~
*.*~
*.o
*.beam
*.dump
*.plt
*.swp
*.log
.DS_Store
*.swo
Mnesia*
.depsolver_plt
doc
dialyzer.txt
.idea
*.iml
*.swn
*.pyc
\#*
.\#*
*.coverage*
build
protoc-c
ttb*
