{require_min_otp_vsn, ["R16"]}.

{lib_dirs, ["deps", "lib"]}.

{sub_dirs, ["deps", "lib", "rel"]}.

{erl_opts, [
	     {i, [
	     	  "include", 
                  "deps"
	     	  ]},
	     {src_dirs, ["src", "plugin"]},
	     warn_format,
	     warn_export_all,
	     warn_export_vars,
	     warn_obselete_guard,
	     warn_unused_import,
	     warn_bif_clash,
	     warn_missing_spec,
	     warn_utyped_record,
             parse_transform, lager_transform,
             debug_info]}.

{plugins, [rebar_covertool]}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.
{edoc_opts, [{private, true}, {hidden, true}, {todo, true}]}.

{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{cover_enabled, true}.
{covertool_ct, {"sqor_msg_consumer.coverage", "sqor_msg_consumer.coverage.xml"}}.

{xref_warnings, true}.
{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.

{deps,
 [
    {proper, ".*",
        {git, "https://github.com/manopapad/proper.git", {branch, "master"}}},

    {covertool, ".*",
        {git, "https://github.com/idubrov/covertool.git", {branch, "master"}}
    },	
  
    {parse_trans, ".*", 
   		{git, "https://github.com/uwiger/parse_trans.git", {tag, "2.6"}}},
  
    {lager, ".*",
        {git, "git://github.com/basho/lager.git", {tag, "2.0.0"}}
    }
			
 ]}.
 
{pre_hooks, []}.

{post_hooks, []}.

