[
  {amqp_connection, [ 
    {connection_string, 
          <<"amqp://XXXXx:XXXX@devrabbitmq2.sqor.com:5672/test?heartbeat=5">>}
  ]},
  {supported_events, [
        {team_feed, 
                {mod_team_feed_extract, []} , 
                {mod_team_feed_enrich, []} , 
                {mod_team_feed_transform, []}, 
                {mod_team_feed_publish, []}
        },
        {test_feed, 
                {mod_test_feed_extract, []} , 
                {mod_test_feed_enrich, []} , 
                {mod_test_feed_transform, []}, 
                {mod_test_feed_publish, []}
        }

  ]}
].
