[
  {amqp_connection, [ 
    {connection_string, 
          <<"amqp://sqoradmin:VFNz0n3!@devrabbitmq2.sqor.com:5672/test?heartbeat=5">>}
  ]},
  {message_processor, [
     {payload_extract, {mod_team_feed_extract, []},
     {payload_enrich, {mod_team_feed_enrich, []}
     {payload_transform, {mod_team_feed_transform, []}
  ]}
].
