[
  {amqp_connection, [ 
    {connection_string, 
          <<"amqp://sqoradmin:VFNz0n3!@devrabbitmq2.sqor.com:5672/test?heartbeat=5">>}
  ]},
  {amqp_exchange,[
      {ticket,0},
      {exchange, <<"analytics.test">>},
      {type, <<"topic">> },
      {passive, false},
      {durable, false},
      {auto_delete, false},
      {internal, false},
      {nowait, false},
      {arguments, []}]},
    {amqp_queue, [
      {qticket, 0},
      {queue, <<"logs">>},
      {qpassive, false},
      {qdurable, false},
      {qexclusive, false},
      {qauto_delete, false},
      {qnowait, false},
      {routing_key,<<"test">>},
      {qarguments, []}
    ]},
    {payload_extract, [ {mod_analytics_test, []} ]},
    {payload_enrich, [ {mod_analytics_test_enrich, []}]},
    {payload_transform, [ {mod_analytics_test_filter, []}]} 
].
